{{#if nftData.PostFound}}
<p>{{nftData.PostFound.Body}}</p>

	{{#if nftData.message}}
	<p>{{nftData.message}}</p>
	{{/if}}

	{{#if previewImg}}
	<div id="container">
	<img class="nft-preview" src="{{previewImg}}"/>
	</div>
	<p class="nft-viewer" data-nft="{{nftPostHashHex}}">Loading...</p>
	{{/if}}

{{else}}

	<h1>3D NFT Viewer</h1>
	<form action="/feeds" method="post">
		<div class="ctr-box">
			<label for="username">Enter Deso Username:</label>
			<input name="username" type="text"/>
			<button>View NFTs</button>
		</div>
	</form>

	<h2>Explore 3D NFT Creators:</h2>
	<ul>
		<li><a href="/feeds/voxme/">VOXME</a></li>
		<li><a href="/feeds/3desocial/">3DeSocial</a></li>
		<li><a href="/feeds/andrewvanduivenbode/">AndrewVanDuivenbode</a></li>
		<li><a href="/feeds/Nick_Naglich/">Nick_Naglich</a></li>
		<li><a href="/feeds/Artanix_Legend/">Artanix_Legend</a></li>
	</ul>

{{/if}}

